:root {
  --font-size: 16px;
}

@layer base {
  * {
    @apply border-gray-200;
  }

  body {
    @apply bg-white text-gray-900;
    font-family: 'Titillium Web', sans-serif;
  }

  html {
    font-size: var(--font-size);
  }
}